@font-face {
  font-family: 'AlumniSansPinstripe';
  src: url('/src/assets/fonts/AlumniSansPinstripe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bitcount Prop Single Ink';
  src: url('/src/assets/fonts/BitcountPropSingleInk.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InstrumentSerif';
  src: url('/src/assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Notable';
  src: url('/src/assets/fonts/Notable-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSans Condensed';
  src: url('/src/assets/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/src/assets/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poiret One';
  src: url('/src/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('/src/assets/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SUSE Mono';
  src: url('/src/assets/fonts/SUSEMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poiret One';
  src: url('/src/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('/src/assets/fonts/UnifrakturMaguntia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poiret-one {
  font-family: 'Poiret One', sans-serif;
}

.font-bitcount {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
}

.font-instrument-serif {
  font-family: 'InstrumentSerif', sans-serif;
}

.font-alumni-sans {
  font-family: 'AlumniSansPinstripe', sans-serif;
}

.font-suse-mono {
  font-family: 'SUSE Mono', monospace;
}

.font-noto-sans {
  font-family: 'NotoSans', sans-serif;
}

.font-notable {
  font-family: 'Notable', sans-serif;
}

.font-unifraktur {
  font-family: 'UnifrakturMaguntia', 'Bitcount Prop Single Ink', sans-serif;
}
